/* Scrollbar Styles */
.scrollable {
  overflow-y: scroll;
  font: 24px/36px sans-serif;
  width: 200px;
  height: 200px;
  padding: 5px;
} 

.scrollbar {
}

div {
  cursor : default;
}

.contentBox {
  overflow-y: scroll;
  height: 300px;
  width: 50%;
  z-index: -1;
}

.contentBox::-webkit-scrollbar {
  width: 0 !important 
}


.scrollingWindow {
  height:300px;
}

#percentage {
  top : 150px;
  width : 60px;
  left : 10px;
  height : 20px;
  background-color : lightgrey;
  text-align : center;
}

#track {
  left : 80px;
  width: 20px;
  height : 300px;
  border-left :none;
  border-right: none;
}

#slider {
  position : absolute;
  width: 18px;
}

#track:hover {
  border: 1pt solid black;
}

#leftSideTrack {
  border-right: none;
}

#rightSideTrack {
  border-left: none;
}