.openlookBtn {
  margin:0;
  width: 20px;
  height: 40px;
  background-color: #fff;
}

.openlookPageBtn {
  height: 7px;
}

.openlookTrack {
  background-color: #fff;
}

.openlookArrow {
  height:10px;
  /* margin-left: 1px; */
}

.openlookElevator {
  background-color: #fff;
  width: 20px;
  height: 60px;
}

.line {
  position: fixed;
  height: 300px;
  transform: translate(900%);
}