.macintoshBtn {
  margin:0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1pt solid black;
}

.macintoshArrow {
  height:10px;
  margin-left: 1px;
  /* width:10px; */
}

.macintoshTrack {
  background-color: #cccccc;
  border: 1pt solid black;
}

.macintoshSlider {
  background: #fff;
  border: 1pt solid black;
}