/* .macintosh > ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}

.macintosh > ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: yellowgreen; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
#percentage {
  /* position: fixed; */
  top : 150px;
  width : 60px;
  left : 10px;
  height : 20px;
  background-color : lightgrey;
  text-align : center;
}

#track {
  /* position : fixed; */
  /* margin-top: 100px; */
  left : 80px;
  width: 15px;
  height : 300px;
  background-color : #000000;
}

#slider {
  position : absolute;
  width: 15px;
  background: linear-gradient(to right, #1e5799 0%,#89b3d3 51%,#1e5799 100%);
}
